{% extends "base.html" %}
{% load static %}

{% block title %}Account Details{% endblock %}

{% block container %}
<h1>Account Details</h1>

<div>
  <h3>My Teams</h3>
  <ul>
    {% for team in teams %}
    <li>{{ team.name }}</li>
    {% empty %}
    <li>Create a team!</li>
    {% endfor %}
  </ul>
</div>

<div>
  <h3>My Events</h3>
  <ul>
    {% for team in teams %}
    <li>{{ team.name }}</li>
    {% empty %}
    <li>Create a team!</li>
    {% endfor %}
  </ul>
</div>

<div>
  <h3>My Submissions</h3>
  <ul>
    {% for team in teams %}
    <li>{{ team.name }}</li>
    {% empty %}
    <li>Create a team!</li>
    {% endfor %}
  </ul>
</div>

<div>
  <h3>My Statistics</h3>
  <ul>
    {% for team in teams %}
    <li>{{ team.name }}</li>
    {% empty %}
    <li>Create a team!</li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
