{% extends "base.html" %}

{% block title %}Account Details{% endblock %}

{% block container %}
<h1>Account Details</h1>

<div>
  <h3>My Teams</h3>
  <ul>
    {% for team in teams %}
    <li><a href="{% url 'teams:detail' team.uuid %}">{{ team.name }}</a></li>
    {% empty %}
    <li><a href="{% url 'teams:join' %}">Join a team!</a></li>
    {% endfor %}
  </ul>
</div>

<div>
  <h3>My Events</h3>
  <ul>
    {% for event in events %}
    <li>{{ event }}</li>
    {% empty %}
    <li>Create an event!</li>
    {% endfor %}
  </ul>
</div>

<div>
  <h3>My Submissions</h3>
  <ul>
    {% for submission in submissions %}
    <li>{{ submission }}</li>
    {% empty %}
    <li>Make a submission!</li>
    {% endfor %}
  </ul>
</div>

<div>
  <h3>My Statistics</h3>
</div>

{% endblock %}
