{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}View Images{% endblock %}

{% block top_loader %}
{% endblock %}

{% block container %}
<div class="row">
  <div class="col">
    <h1>{{ name }}</h1>
    <p>Date: {{ now|date }}</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Join Code</h2>
    <p>{{ join_code }}</p>
    <p><a href="{% url 'teams:modify-joincode' uuid %}">Modify Join Code</a></p>
    <!-- link to new join code -->
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Members</h2>
    <ul>
      {% for user in users %}
      <li>{{ user.email }}</li>
      {% empty %}
      <li>No members</li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Events</h2>
    <p><a href="{% url 'teams:create-event' uuid %}">Create an event</a></p>
  </div>
</div>
{% endblock %}

{% block bottom_loader %}
{% endblock %}
