<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
  {% block top_loader %}
  {% endblock %}

  <title>StreetTeam - {% block title %}{% endblock %}</title>
</head>

<body>
  <!-- Bootstrap Navigation -->
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand mx-auto" href="/" style="font-family: Pacifico">Street Team</a>

    <!-- Collapsable Hamburger Menu -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse show navbar-collapse" id="navbarToggleExternalContent">
      <ul class="navbar-header">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{% url "social:begin" "github" %}'>Login</a>
          </li>
          <!-- TODO login OR logout -->
          <li class="nav-item">
            <a class="nav-link" href='{% url "logout" %}'>Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{% url "images-list" %}'>Images</a>
          </li>
        </ul>
      </ul>
    </div>
  </nav>

  {% block body %}
  {% endblock %}

  {% block bottom_loader %}
  {% endblock %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>
