{% load static %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'mediahub/index.css' %}">
  </head>

  <body>
    <div id="main">
      <!-- cross origin? -->
      <div id="cropImage">Crop Image</div>
      <img id="image" width=400px height=400px src="http://localhost:4566/streetteam/chicago-python/uploaded-images/e9a02631-463a-42b6-b60a-76e969b691ae.png">

    <!-- TODO make this dynamic -->
    <form method="post" action="/images/3/crop">
      {% csrf_token %}

      <input type="hidden" id="cropLeft" name="cropLeft">
      <input type="hidden" id="cropTop" name="cropTop">
      <input type="hidden" id="cropWidth" name="cropWidth">
      <input type="hidden" id="cropHeight" name="cropHeight">

      <input type="submit" value="Submit">
    </form>
    </div>
    <script src="{% static 'mediahub/index.js' %}"></script>
  </body>
</html>
