{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}View Images{% endblock %}

{% block top_loader %}
<link rel="stylesheet" type="text/css" href="{% static 'mediahub/list.css' %}">
{% endblock %}

{% block container %}
<h1>Uploaded Images</h1>

<div class="modal" role="dialog" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form method="post" action="/images/caption">
        {% csrf_token %}
        <!-- TODO validation on uuid, where does it show up? change with JS and see what happens -->
        <div class="modal-body">
          {% bootstrap_form caption_image_form show_label=False %}
          <div class="d-flex justify-content-end">
            <div id="captionCharacterCount">0</div>
            <div>&nbsp;/ 280</div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <div class="float-left">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
          <div class="float-left">
            <input type="submit" class="btn btn-primary" id="modalSubmit">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card-columns">
  {% for picture in object_list %}
  <div class="card" width=100>
    <div class="box">
      <img class="card-img-top img-fluid {% if picture.caption != '' %}submitted{% endif %}"
        src="{{ picture.image.url }}" alt="Card image cap">
      {% if picture.caption != '' %}
      <div class="text">Submitted</div>
      {% endif %}
    </div>
    <div class="card-body text-center">
      <div class="button-group">
        {% if picture.caption == '' %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
          st-image-uuid="{{ picture.uuid }}">Add
          Caption</button>
        {% else %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
          st-image-uuid="{{ picture.uuid }}" st-image-caption="{{ picture.caption }}">Modify
          Caption</button>
        {% endif %}
  <!-- Is there a way to give the textbox focus when the modal loads? -->
  <!-- TODO show alert when too many characters are submitted -->
      </div>
    </div>
  </div>
  {% empty %}
  <!-- TODO add a link that takes us to the upload page -->
  <p>Upload a picture.</p>
  {% endfor %}
</div>
{% endblock %}

{% block bottom_loader %}
<script src="{% static 'mediahub/tweet_length.js' %}"></script>
{% endblock %}
