{% extends "base.html" %}

{% block title %}View Images{% endblock %}

{% block container %}
<h1>Uploaded Images</h1>

<!-- TODO show the photos here in small thumnails -->
<div class="card-columns">
  {% for picture in object_list %}
  <div class="card" width=100>
    <img class="card-img-top img-fluid" src="{{ picture.image.url }}" alt="Card image cap">
    <div class="card-body text-center">
      <div class="button-group">
        <button type="button" class="btn btn-primary btn-lg">Add Caption</button>
      </div>
    </div>
  </div>
  {% empty %}
  <p>No picture yet.</p>
  {% endfor %}
</div>

<br>

<h3><a href="{% url 'images-upload' %}">Upload pictures</a></h3>
{% endblock %}
