{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}View Images{% endblock %}

{% block container %}
<h1>Uploaded Images</h1>

<style>
  .box {
    position: relative;
    display: inline-block;
    /* Make the width of box same as image */
  }

  .box .text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 40%;
    /* Adjust this value to move the positioned div up and down */
    background: rgba(0, 0, 0, 0.6);
    font-family: Arial, sans-serif;
    color: #fff;
    width: 100%;
    /* TODO use flexbox to align vertically */
    /* Set the width of the positioned div */
  }

  img.submitted {
    -webkit-filter: grayscale(85%);
    filter: grayscale(85%);
  }
</style>

<div class="modal" role="dialog" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Caption Photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form method="post" action="/images/caption">
        {% csrf_token %}
        <!-- TODO validation on uuid, where does it show up? change with JS and see what happens -->
        <div class="modal-body">
          {% bootstrap_form caption_image_form show_label=False %}
        </div>
        <div class="modal-footer">
          <div class="mr-auto">
            <div id="captionCharacterCount" class="float-left">0</div>
            <div id="captionCharacterCount" class="float-left">&nbsp;/ 280</div>
          </div>
          <input type="submit" class="btn btn-primary" id="modalSubmit">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card-columns">
  {% for picture in object_list %}
  <div class="card" width=100>
    <div class="box">
      <!-- TODO add class for submitted -->
      <img class="card-img-top img-fluid" src="{{ picture.image.url }}" alt="Card image cap">
      <!-- <div class="text">
        <p>Submitted</p>
      </div> -->
    </div>
    <div class="card-body text-center">
      <div class="button-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
          st-image-uuid="{{ picture.uuid }}">Add
          Caption</button>
        <!-- TODO modify caption for submitted -->
      </div>
    </div>
  </div>
  {% empty %}
  <!-- TODO add a link that takes us to the upload page -->
  <p>Upload a picture.</p>
  {% endfor %}
</div>

<br>

<script>
  $('#exampleModal').on('show.bs.modal', event => {
    const uuid = event.relatedTarget.getAttribute("st-image-uuid");
    document.getElementById("modalUuid").value = uuid;
  });
</script>

<h3><a href="{% url 'images-upload' %}">Upload pictures</a></h3>
{% endblock %}
